
@mixin flexbox($orientation : row, $justify-content,
  $align-items, $flex-wrap: nowrap ){

  display: flex;
  flex-direction: $orientation;
  justify-content: $justify-content;
  align-items: $align-items;

  @if $flex-wrap != nowrap{
    flex-wrap: wrap;
  }

}

@mixin size-card($width:none, $height:none){
  width: $width;
  height: $height;
}

@mixin center($direction: row){
  display: flex;
  flex-direction: $direction;
  justify-content: center;
}

@mixin colorTxt($color){
  color: $color;
}
