
:root{
  --color-primary: #ddd;
  --color-primary: #ddd;
  --bg-color: #000;
}

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  //background-color: var(--bg-color) ;
}


.pointer{
  cursor: pointer;
}

.center{
  display: flex;
  justify-content: center;
}
